@font-face {
  font-family:fontawesome ;
  src: url("../../fonts/fontawesome-webfont.woff") format("woff"),
url("../../fonts/fontawesome-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family:georgia-bold ;
  src: url("../../fonts/georgia-bold.ttf") format("ttf");

  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family:helveticaneuecyr-bold ;
  src: url("../../fonts/helveticaneuecyr-bold.otf") format("otf");

  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family:HelveticaNeueCyr-Light ;
  src: url("../../fonts/HelveticaNeueCyr-Light.otf") format("otf");

  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family:HelveticaNeueCyr-LightItalic ;
  src: url("../../fonts/HelveticaNeueCyr-LightItalic.otf") format("otf");

  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family:HelveticaNeue-regular ;
  src: url("../../fonts/HelveticaNeue-regular.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}